@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 4rem;
    gap: 40px; /* Adicionando espaço entre o texto e a imagem */
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-title {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .about-description {
    font-size: 1.2rem;
    color: black;
    text-align: center;
  }

  .about-description span{
    color: #EE7124;
    font-weight: bold;
  }
  
  .about-image img {
    width: 100%;
    max-width: 600px; /* Ajuste a largura da imagem conforme necessário */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras na imagem */
  }
  
  /* Responsividade: Quando a tela for pequena, reorganiza os elementos */
  @media screen and (max-width: 768px) {
    .about-container {
      flex-direction: column;
      text-align: center;
      padding: 30px 20px;
    }
  
    .about-image {
      margin-top: 20px;
    }
  
    .about-title {
      font-size: 2rem;
    }
  
    .about-description {
      font-size: 1rem;
    }
  }
  