@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.faqs {
    padding: 60px 20px;
    background-color: #f9f9f9; /* Cor suave e moderna para o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqs-container {
    max-width: 1200px; /* Mantido o tamanho do container original */
    width: 100%;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px; /* Adicionado o espaço superior */
}

/* Estilo do título */
.faqs-title {
    font-size: 2rem;
    font-weight: 600;
    color: #1d3557;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
    top: -30px; /* Mover o título para cima */
}

/* Linha abaixo do título */
.faqs-title::after {
    content: "";
    position: absolute;
    left: 15%; /* Ajuste a largura da linha pela distância da esquerda */
    width: 70%; /* Define a largura da linha - ajuste conforme necessário */
    bottom: -5px; /* Ajuste fino da linha para o posicionamento */
    height: 3px; /* Altura da linha */
    background-color: #f4a261; /* Cor laranja */
}



/* Estilo para cada item de FAQ */
.faq {
    margin-bottom: 25px;
    padding: 20px;
    background-color: #b99dfc;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Hover effects */
.faq:hover {
    transform: translateY(-5px); /* Animação de elevação */
    background-color: #e9e0fd; /* Leve mudança de cor ao passar o mouse */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15); /* Sombra mais forte no hover */
}

.faq h3 {
    font-size: 20px;
    font-weight: 600;
    color: #182a53;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.faq p {
    font-size: 16px;
    color: #596787; /* Cor de texto suave */
    line-height: 1.6;
    letter-spacing: 0.5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .faqs-container {
        padding: 20px;
    }

    .faqs-container h2 {
        font-size: 28px;
    }

    .faq h3 {
        font-size: 18px;
    }

    .faq p {
        font-size: 14px;
    }
}
