@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  height: 45rem;
  display: flex;
  border-radius: 15px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide-content {
  position: absolute;
  left: 5%;
  top: 50%;
  color: #fff;
  padding: 15px 20px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  border-radius: 10px;
  max-width: 28%;
}

.carousel-slide-content h2 {
  font-size: 2.4rem;
  color: #fff;
  text-align: start;
}

.carousel-slide-content p {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #f4f4f4;
  text-align: start;
}

.carousel-button {
  display: inline-block;
  padding: 14px 30px;
  background: linear-gradient(90deg, #6db1df, #268dd1);
  color: #fff;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(255, 82, 82, 0.5);
  color: #fff;
  background: linear-gradient(90deg, #ff9752, #f7731b);
}

.carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background-color: #ee7124;
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .carousel-slide {
    height: auto;
  }

  .carousel-slide-content {
    max-width: 100%;
    left: 10%;
    padding: 10px;
  }

  .carousel-slide-content h2 {
    font-size: 1.8rem;
  }

  .carousel-slide-content p {
    font-size: 1rem;
  }

  .carousel-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .carousel-slide {
    height: 300px;
  }

  .carousel-slide-content {
    max-width: 50%;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .carousel-slide-content h2 {
    font-size: 1.5rem;
  }

  .carousel-button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
