@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.footer-container {
  background-color: #2A7FED;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 30px;
}

.footer-logo-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  flex: 1;
}

.footer-logo img {
  width: 80px;
  height: 80px;
}

.footer-description {
  margin-left: 20px;
  font-size: 16px;
  color: #ffffff;
  max-width: 350px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  gap: 25px;
  flex: 1;
  justify-content: center;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #a911f0;
}

.footer-social-email {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-social a {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #a911f0;
}

.footer-email a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.footer-email a:hover {
  color: #a911f0;
}

.footer-bottom {
  text-align: center;
  margin: 1.2rem;
  font-size: 14px;
  color: rgb(255,255,255, 0.5);
  font-weight: 300;
  width: 100%;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-social-email {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo-description {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-description {
    margin-left: 0;
    margin-top: 15px;
    font-size: 14px;
  }

  .footer-links {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }

}